{% load staticfiles %}
<html>
	<head>
		<title>ABC Testing</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/info.css" %}">
	</head>
	<p><h1><a href="/">ABC Testing</a></h1></p>
	<h3>New Customer</h3>
</html>
		{% block content %}
		<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">Save</button>
		</form>
		{% endblock %}