{% load staticfiles %}
<html>
	<head>
		<title>ABC Testing</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/info.css" %}">
	</head>
	<body>
		<div class="container">
			<div class="col-md-4 col-md-offset-4">
				<p><h1><a href="/">ABC Testing</a></h1></p>
 				<p><a href="/info">Log Book</a></p>
 				<p><a href="/info/logform">Sample Login</a></p>
 				<p><a href='/info/customers'>Customers</a></p>
 				<p><a href="/info/customerform">Add new customers</a></p>
 			</div>
		</div>
	</body>
</html>