{% load staticfiles %}
<html>
	<head>
		<title>Chain of Custody</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 		<link rel="stylesheet" href="{% static "css/info.css" %}">
 		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	</head>
	<body ng-app="LogBookApp">
		<div class="main" ng-controller="MainController">
			<div class="col-md-6 col-md-offset-3">
				<h1><a href="/">ABC Testing</a></h1>
				{% verbatim %}
				<h3>{{ subtitle }}</h3>
				<form>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
 							<input type="text" class="form-control" placeholder="Search..." ng-model="searchLog">
 						</div>
 					</div>
 				</form>

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>
								<a href='#' ng-click="sortType = 'rush'; sortReverse = !sortReverse">
									Rush
									<span ng-show="sortType == 'rush' && !sortReverse" class="fa fa-caret-up"></span>
									<span ng-show="sortType == 'rush' && sortReverse" class="fa fa-caret-down"></span>
								</a>
							</td>
							<td>
								<a href='#' ng-click="sortType ='lab_number'; sortReverse = !sortReverse">
									Lab Number
									<span ng-show="sortType == 'lab_number' && !sortReverse" class="fa fa-caret-up"></span>
									<span ng-show="sortType == 'lab_number' && sortReverse" class="fa fa-caret-down"></span>
								</a>
							</td>
							<td>
								<a href='#' ng-click="sortType = 'customer'; sortReverse = !sortReverse">
									Company
									<span ng-show="sortType == 'customer' && !sortReverse" class="fa fa-caret-up"></span>
									<span ng-show="sortType == 'customer' && sortReverse" class="fa fa-caret-down"></span>
								</a>
							</td>
							<td>
								<a href='#' ng-click="sortType = 'product_name'; sortReverse = !sortReverse">
									Sample
									<span ng-show="sortType == 'product_name' && !sortReverse" class="fa fa-caret-up"></span>
									<span ng-show="sortType == 'product_name' && sortReverse" class="fa fa-caret-down"></span>
								</a>
							</td>
							<td>
								<a href='#' ng-click="sortType = 'date_received'; sortReverse = !sortReverse">
									Date Received
									<span ng-show="sortType == 'date_received' && !sortReverse" class="fa fa-caret-up"></span>
									<span ng-show="sortType == 'date_received' && sortReverse" class="fa fa-caret-down"></span>
								</a>
							</td>
							<td>
								<a href='#' ng-click="sortType = 'lot_number'; sortReverse = !sortReverse">
									Lot Number
									<span ng-show="sortType == 'lot_number' && !sortReverse" class="fa fa-caret-up"></span>
									<span ng-show="sortType == 'lot_number' && sortReverse" class="fa fa-caret-down"></span>
								</a>
							</td>
							<td>
								<a href="#" ng-click="sortType = 'test_request'; sortReverse = !sortReverse">
									Test Request
									<span ng-show="sortType == 'test_request' && !sortReverse" class="fa fa-caret-up"></span>
									<span ng-show="sortType == 'test_request' && sortReverse" class="fa fa-caret-down"></span>
								</a>
							</td>
					</thead>
					<tbody>
						<tr ng-repeat ="log in logBook | orderBy:sortType:sortReverse | filter:searchLog">
							<td>{{ log.rush }}</td>
							<td><a href="{{log.pk}}">{{ log.lab_number }}</a></td>
							<td>{{ log.customer}}</td>
							<td>{{ log.product_name }}</td>
							<td>{{ log.date_received | date }}</td>
 							<td>{{ log.lot_number }}</td>
 							<td>{{ log.test_request }}</td>
						</tr>
					</tbody>
				{% endverbatim %}
<!--				{% if samplelog %}
 				<table class="table table-bordered table-hover">
 					<thead>		
						<th>Lab Number</th>
						<th>Company</th>
						<th>Sample</th>
						<th>Date Received</th>
						<th>Lot Number</th>
						<th>Test Request</th>
					</thead>
					{% for log in samplelog %}
					<tbody>
 						<tr>
 							<td><a href="{% url 'chainofcustody' log.id %}">{{ log.lab_number }}</a></td>
 							<td>{{ log.customer }}</td>
 							<td>{{ log.product_name }}</td>
 							<td>{{ log.date_received }}</td>
 							<td>{{ log.lot_number }}</td>
 							<td>{{ log.test_request }}</td>
 	 					</tr>
 	 				</tbody>	
					{% endfor %}
				</table>
				{% else %}
				<p>No Requests are available.</p>
				{% endif %} -->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="{% static 'info/javascripts/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'info/javascripts/controllers/MainController.js' %}"></script>
	<script type="text/javascript" src="{% static 'info/javascripts/services/samplelog.js' %}"></script>
</html>